<title>Flagrank</title>
<meta name="title" content="Flagrank"/>
<meta charset="UTF-8"/>
<meta name="description" content="A website that allows people to rank flags using an Elo-like system."/>
<meta name="keywords" content="flag"/>
<meta author="mOctave"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">
<link rel="stylesheet" href="main.css"/>
<link rel="icon" href="img/icon.svg"/>
